---
const { className, ...rest } = Astro.props;
---

<section class:list={["section", className]} {...rest}>
  <slot />
</section>

<style>
  .section {
    display: flex;
    flex-direction: column;
    gap: 6rem;

    opacity: 0;
    transition: opacity 250ms ease-in-out;
  }

  .section[data-visible="true"] {
    opacity: 1;
  }
</style>
