---
import PageLayout from "#components/templates/PageLayout.astro";

import Container from "#components/atoms/Container.astro";
import Center from "#components/atoms/Center.astro";
import Main from "#components/atoms/Main.astro";

import Hero from "#components/organisms/Hero.astro";
import Services from "#components/organisms/Services.astro";
import Sidebar from "#components/organisms/Sidebar/Sidebar.astro";
import About from "#components/organisms/About.astro";
import Contact from "#components/organisms/Contact.astro";
---

<PageLayout>
  <Main>
    <Container>
      <Sidebar />
      <Center id="main-content">
        <Hero />
        <Services />
        <About />
        <Contact />
      </Center>
    </Container>
  </Main>
</PageLayout>

<script src="../scripts/intersect.js"></script>
<script src="../scripts/svg.js"></script>
