---
import PageLayout from "#components/layouts/PageLayout.astro";

import Main from "#components/primitives/Main.astro";

import Container from "#components/modules/Container.astro";
import Divider from "#components/modules/Divider.astro";
import PrimaryContent from "#components/modules/PrimaryContent.astro";

import Hero from "#components/organisms/Hero.astro";
import Services from "#components/organisms/Services.astro";
import Sidebar from "#components/organisms/Sidebar/Sidebar.astro";
import About from "#components/organisms/About.astro";
import Contact from "#components/organisms/Contact.astro";
---

<PageLayout>
  <Main>
    <Container>
      <Sidebar />
      <PrimaryContent id="main-content">
        <Hero />
        <Services />
        <Divider />
        <About />
        <Divider />
        <Contact />
      </PrimaryContent>
    </Container>
  </Main>
</PageLayout>

<script src="../scripts/intersect.js"></script>
<script src="../scripts/svg.js"></script>
