---
import getInTouchImg from "#assets/get-in-touch.jpg";
import getInTouchBodyImg from "#assets/get-in-touch-body.jpg";

import Column from "#components/atoms/Column.astro";
import PointContainer from "#components/atoms/PointContainer.astro";
import PointStart from "#components/atoms/PointStart.astro";
import Section from "#components/atoms/Section.astro";
import SectionHeader from "#components/atoms/SectionHeader.astro";
import SubSection from "#components/atoms/SubSection.astro";
import TextBlock from "#components/atoms/TextBlock.astro";
import Headline from "#components/molecules/Headline.astro";
import SubSectionHeadline from "#components/molecules/SubSectionHeadline.astro";
import LineItems from "#components/atoms/LineItems.astro";
import LineItem from "#components/molecules/LineItem.astro";
---

<Section id="get-in-touch" data-intersect>
  <SectionHeader id="get-in-touch-header">
    <Column>
      <img
        src={getInTouchImg.src}
        alt="Melanie Krummel"
        id="about-the-appraiser-image"
      />
    </Column>
    <Column data-variant="stretch">
      <TextBlock>
        <Headline headingId="get-in-touch-heading">
          <Fragment slot="title">Get in touch</Fragment>
          <Fragment slot="description">
            <PointContainer Element="p">
              Jewelry Appraisals, Inc. is a professional independent jewelry
              appraisal service and gemological laboratory owned and operated by
              Melanie D. Krummel, GG, FGA, CSM. She has 25 years of experience
              and values jewelry for the purposes of Insurance Replacement,
              Estate, and Probate, Fair Market Value and Selling your jewelry.
              Schedule an appointment and have your questions answer while you
              watch.
              <PointStart connects="contact-information-heading-text" />
            </PointContainer>
          </Fragment>
        </Headline>
      </TextBlock>
    </Column>
  </SectionHeader>
  <SubSection id="contact-information">
    <Column>
      <SubSectionHeadline
        id="contact-information-heading"
        pointId="contact-information-heading-text"
        title="Contact Information"
      />
      <LineItems>
        <LineItem Element="li">
          <Fragment slot="title">Office Address*</Fragment>
          <Fragment slot="description">
            <p>
              215 N Washington Street, <br />
              Suite 2B Havre De Grace, MD 21078
            </p>
            <p>*NOTE: Please schedule an appointment before visiting.</p>
          </Fragment>
        </LineItem>
        <LineItem Element="li">
          <Fragment slot="title">Email Address</Fragment>
          <Fragment slot="description">
            <p>melanie@askagemologist.com</p>
          </Fragment>
        </LineItem>
        <LineItem Element="li">
          <Fragment slot="title">Phone Number</Fragment>
          <Fragment slot="description">
            <p>410.804.0893</p>
          </Fragment>
        </LineItem>
      </LineItems>
    </Column>
    <div class="sub-section:col-image" id="appraisal-types-image">
      <img src={getInTouchBodyImg.src} alt="Appraisal Types" />
    </div>
  </SubSection>
</Section>
